body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0;
    background-color: whitesmoke;
}

.excuse-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 400px;
}

#excuse {
    font-weight: bold;
    font-size: 18px;
}

#excuse-content {
    margin-top: 20px;
}
